aiobotocore
aiofiles
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
amqp==5.2.0
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
asgiref==3.8.1
astroid
astropy
asttokens
async-timeout
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
bcrypt
beautifulsoup4
billiard==4.2.0
binaryornot
black
bleach
blinker==1.8.1
bokeh
boltons
botocore
Bottleneck
brotlipy==0.7.0
celery==5.4.0
certifi
cffi
channels==4.1.0
chardet
charset-normalizer
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle
colorama
colorcet
comm
constantly==15.1.0
contourpy
cookiecutter
cryptography
cssselect==1.1.0
cycler
cytoolz
dask
datasets
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distlib==0.3.8
distributed
dj-database-url==2.2.0
Django==5.0.4
django-allauth==0.63.3
django-channels==0.7.0
django-cleanup==8.1.0
django-heroku==0.3.1
django-htmx==1.18.0
django-jazzmin==3.0.0
django-phonenumber-field==8.0.0
djangorestframework==3.15.1
docstring-to-markdown
docutils
drf-yasg==1.21.7
entrypoints
environs==11.0.0
et-xmlfile==1.1.0
executing
fastjsonschema
filelock==3.13.4
flake8
Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
fonttools==4.25.0
frozenlist
fsspec
future
gensim
glob2
greenlet
gunicorn==22.0.0
h11==0.14.0
h5py
HeapDict
holoviews
httpcore==1.0.4
httpx==0.27.0
huggingface-hub
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous==2.2.0
jaraco.classes
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-server
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server_fileid
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kaleido
keyring
kiwisolver
kombu==5.3.7
lazy-object-proxy
lazy_loader
libarchive-c
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
marshmallow==3.21.0
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mistune
more-itertools
mpmath
msgpack
multidict
multipledispatch
multiprocess
munkres==1.1.4
mypy-extensions
mysql-connector-python==8.3.0
mysqlclient==2.2.4
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
oauthlib==3.2.2
openai==1.14.0
openpyxl==3.0.10
packaging
pandas
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathlib
pathspec
patsy==0.5.3
pep8==1.7.1
pexpect
pickleshare
Pillow
pipenv==2023.12.1
pkce
pkginfo
platformdirs
plotly
pluggy
ply==3.11
poyo
prometheus-client
prompt-toolkit
Protego
psutil
psycopg2==2.9.9
ptyprocess
pure-eval
py-cpuinfo
pyarrow==11.0.0
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl==7.45.2
pydantic
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
pygame==2.5.2
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc
pyOpenSSL
pyparsing
pypng==0.20220715.0
PyQt5==5.15.7
PyQt5-sip
PyQtWebEngine==5.15.4
pyrsistent
PySocks
pytest
python-dateutil
python-decouple==3.8
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz
pyviz-comms
PyWavelets
pywin32-ctypes
pywinpty
PyYAML
pyzbar==0.1.9
pyzmq
QDarkStyle
qrcode==7.4.2
qstylizer
QtAwesome
qtconsole
QtPy
queuelib==1.5.0
regex
requests
requests-file
requests-oauthlib==2.0.0
requests-toolbelt
responses
rfc3339-validator
rfc3986-validator
rope
Rtree
ruamel.yaml
s3fs
safetensors
scikit-image
scikit-learn
scikit-learn-intelex==20230426.121932
scipy==1.11.1
Scrapy
seaborn
Send2Trash
service-identity
sip
six
smart-open
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy==2.0.29
sqlparse==0.5.0
stack-data
statsmodels
sympy
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers
toml
tomlkit
toolz
tornado
tqdm
traitlets
transformers
Twisted
twisted-iocpsupport
typing_extensions
tzdata
uc-micro-py
ujson
Unidecode
uritemplate==4.1.1
urllib3
vine==5.1.0
virtualenv==20.26.0
w3lib
watchdog
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug==3.0.2
whatthepatch
whitenoise==6.7.0
widgetsnbextension
win-inet-pton
wrapt
xarray
xlwings
xxhash
xyzservices
y-py
yapf
yarl
ypy-websocket
zict
zipp
zope.interface
zstandard==0.19.0
